.equation {
    border: 1px solid #ccc;
    padding: 5px;
    font-style: italic;
  }
  
  .cke_button__mathjax_icon {
    background-image: url('/assets/mathjax/icon.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }